<div class="panel panel-default story-detail-panel">
  <div class="panel-heading">
    <i class="fa fa-files-o" aria-hidden="true"></i> <b class="text-uppercase">{{story.ticket_id}}</b>
    <span class="pull-right todo-detail-icon">
      <a class="href mg-r10" href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
      <a class="href"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </span>
  </div>
  <div class="panel-body">
    <strong>Story Title: </strong>
    <div>{{story.title}}</div>
    <strong>Description: </strong>
    <div>{{story.description}}</div>

    <div class="col-md-4">
      <strong>Owner:</strong>
        {{story.owner}}
    </div>
    <div class="col-md-4">
      <strong>Status:</strong>
      <span class="label label-info progress-status progress-{{story.state}}">{{story.state}}</span>
    </div>
    <div class="col-md-4">
      <strong>Requester:</strong>
        {{story.requester_name}}
    </div>

    <div class="col-md-4">
      <strong>Type:</strong>
      <span class="text-uppercase">{{story.story_type}}</span>
    </div>
    <!--<div class="col-md-4">-->
      <!--<strong>Priority:</strong>-->
        <!--{{story.priority}}-->
    <!--</div>-->
    <div class="col-md-4">
      <strong>Due on:</strong>
        {{story.due_at}}
    </div>
    <div class="col-md-4">
      <strong>Tags:</strong>
      ADD TAGS HERE
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-default">Assign to Me</button>
        <button class="btn btn-default">Start Progress</button>
      </div>
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <div class="panel-body">
        <ul class="comments-list">
          {{#each story.comments}}
            <li class="comment clearfix">
              <a class="pull-left" href="#">
                <span class="user-img-15 pull-left mg-r20" style="background-color: #E8BB46">JB</span>
              </a>
              <span class="pull-right todo-detail-comment-icon">
                <a rel="nofollow" data-method="delete" href="{{url}}">
                  <i class="fa fa-trash-o"></i>
                </a>
                <a href="{{url}}/edit">
                  <i class="fa fa-pencil"></i>
                </a>
              </span>

              <div class="comment-body">
                <div class="comment-heading">
                  <h4 class="user">{{user}}</h4>
                  <h5 class="time">{{time}} ago</h5>
                </div>
                <p>{{content}}</p>

                {{#if attachments}}
                  <h4>Attachments</h4>
                  {{#each attachments}}
                    <div class="comment-attachment">
                      <img title="{{title}}" src="{{thumb}}" alt="{{title}}" />
                      <div class="mask">
                        <span class="mask-icon">
                          <i class="fa fa-search" data-toggle="modal" data-target="#attachmentPreviewModel" data-type="{{type}}" data-url="{{url}}" data-title="{{title}}"></i>
                          <a rel="nofollow" data-method="post" href="{{download_attachment_path}}">
                            <i class="fa fa-download" aria-hidden="true"></i>
                          </a>
                          <a data-confirm="Are you sure?" class="" rel="nofollow" data-method="delete" href="{{attachment_path}}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>x
                        </span>
                        </div>
                    </div>
                  {{/each}}
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="new-comment-form">
          {{> comments/_form}}
        </div>
      </div>
    </div>
  </div>
</div>
