<div class="panel panel-default story-detail-panel">
  <div class="panel-heading">
    <i class="fa fa-files-o" aria-hidden="true"></i> <b class="text-uppercase">{{story.ticket_id}}</b>
    <span class="pull-right todo-detail-icon">
      <a class="href mg-r10" href="{{story.url}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="{{story.url}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </span>
  </div>
  <div class="panel-body">
    <strong>Story Title: </strong>
    <div>{{story.title}}</div>
    <strong>Description: </strong>
    <div>{{story.description}}</div>

    <div class="col-md-4">
      <strong>Owner:</strong>
        {{story.owner}}
    </div>
    <div class="col-md-4">
      <strong>Status:</strong>
      <span class="label label-info progress-status progress-{{story.state}}">{{story.state}}</span>
    </div>
    <div class="col-md-4">
      <strong>Requester:</strong>
        {{story.requester_name}}
    </div>

    <div class="col-md-4">
      <strong>Type:</strong>
      <span class="text-uppercase">{{story.story_type}}</span>
    </div>
    <!--<div class="col-md-4">-->
      <!--<strong>Priority:</strong>-->
        <!--{{story.priority}}-->
    <!--</div>-->
    <div class="col-md-4">
      <strong>Due on:</strong>
        {{story.due_at}}
    </div>
    <div class="col-md-4">
      <strong>Tags:</strong>
      ADD TAGS HERE
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div>
      <div class="attachment-list">
        {{> attachments/_list attachments=story.attachments}}
      </div>
      {{> attachments/_form new_story_attachment_path=story.new_story_attachment_path}}
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <div class="panel-body">
        <ul class="comments-list">
          {{#each story.comments}}
            {{> comments/_show }}
          {{/each}}
        </ul>
        <div class="new-comment-form">
          {{> comments/_form}}
        </div>
      </div>
    </div>
  </div>
</div>
