<div class="panel panel-default story-detail-panel">
  <div class="panel-heading">
    <i class="fa fa-files-o" aria-hidden="true"></i> <b class="text-uppercase">{{story.ticket_id}}</b>
    <span class="pull-right todo-detail-icon">
      {{#each story.next_states}}
        <a href="{{../story.url}}/set_state?state={{state}}" data-method="patch" class="label progress-status progress-{{state}}" rel="nofollow">{{action}}</a>
      {{/each}}
      <a class="btn" rel="nofollow" data-method="post" href="{{story.url}}/close" data-confirm="Are you sure?">Close</a>
      <a class="href mg-r10" href="{{story.url}}/edit" title="Edit">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-floppy-o" aria-hidden="true" style="display: none;"></i>
      </a>
      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="{{story.url}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="story-props">
      {{> stories/_details }}
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div>
      <div class="attachment-list">
        {{> attachments/_list attachments=story.attachments resource_id=story.resource_id}}
      </div>
      {{> attachments/_form new_story_attachment_path=story.new_story_attachment_path}}
    </div>
    <div class="clearfix" style="margin: 0"></div>

    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <div class="panel-body">
        <ul class="comments-list">
          {{#each story.comments}}
            {{> comments/_show }}
          {{/each}}
        </ul>
        <div class="new-comment-form">
          {{> comments/_form}}
        </div>
      </div>
    </div>
  </div>
</div>
