<%= form_for([@project, @discussion], html: { class: "form-horizontal", role: "form" , multipart: true}) do |f| %>

  <%= render 'shared/error_messages', object: @discussion  %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", autofocus: true  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :content, class: "form-control" %>
    </div>
  </div>
      <!-- This is a security hole, user_id can get changed from view, should be in controller -->
      <%# f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :private, class: "col-sm-2 control-label" %>
    <div>
      <%= f.check_box :private%>
    </div>
  </div>

  <div class="form-group" id="private-discussions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.fields_for :user_discussions do |f| %>
        <div class="private-invitation"> <!--NOTE: below 2 checkboxes must be siblings of same element, JS requirement -->
          <%= f.check_box :_destroy , class: 'delete-user-from-discussion', checked: f.object.new_record?, hidden: true %>
          <input type="checkbox" class="include-user-or-not" <%= "checked" if f.object.persisted? %> >

          <%= f.label :user_id, f.object.user.email %>
          <%= f.hidden_field :user_id %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'attachments/browse_attachments' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
