<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'discussion' %>
<% end %>
<div class="table-responsive">
  <div>
    <h3 class="heading-3 pull-left">Discussion List</h3>

    <div class="pull-right">
      <%= link_to project_path(@project), class: 'custom-btn' do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          Back
      <% end %>
      <%= link_to new_project_discussion_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Discussion
      <% end %>
    </div>
  </div>
  <table class="table table-hover col-md-12 discussion-list">
    <thead>
    <tr>
      <th class="col-md-9">Title</th>
      <th class="col-md-2">Last Activity</th>
      <th class="col-md-1">Comments</th>
    </tr>
    </thead>
    <tbody>
    <% @discussions.each do |discussion| %>
        <tr class="anchor-container" data-href="<%= project_discussion_path(@project, discussion) %>">
          <td>
            <a href="<%= project_discussion_path(@project, discussion) %>"><%= discussion.title %></a>

            <p>Posted By: Jazib B. on Sep 20, 2015</p>
          </td>
          <td>
            <span>Sep 20, 2015 - 4:13 PM</span><br>
            <span>by Jazib B.</span>
          </td>
          <td><%= discussion.comments.count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
