<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'discussion' %>
<% end %>
<div class="table-responsive">
  <table class="table table-hover col-md-12 discussion-list">
    <thead>
    <tr>
      <th class="col-md-8">Title</th>
      <th class="col-md-1">Contributors</th>
      <th class="col-md-2">Last Activity</th>
      <th class="col-md-1">Comments</th>
    </tr>
    </thead>
    <tbody>

    <% @discussions.each do |discussion| %>
        <div class="hidden contributors-list">
          <ul class="list-unstyled text-left nomargin">
            <% discussion.other_contributors.each do |contributor| %>
                <li><%= contributor.name %></li>
            <% end %>
          </ul>
        </div>

        <tr class="anchor-container" data-href="<%= project_discussion_path(@project, discussion) %>">
          <td>
            <a href="<%= project_discussion_path(@project, discussion) %>" class="list-anchor"><%= discussion.title %></a>
            <p>Posted By: <%= discussion.posted_by.name + '. on ' + discussion.created_at.localtime.strftime("%B %d, %Y") if discussion.posted_by.present? %> </p>
          </td>
          <td>
            <%= discussion.posted_by.name %> with <a href="#" class="contributors-tooltip">Others</a>
          </td>
          <td>
            <span><%= discussion.last_activity.created_at.localtime.strftime("%B %d, %Y -  %l : %M %p") if discussion.last_activity.present? %></span><br>
            <span> by <%= discussion.last_activity.owner.name if discussion.last_activity.present? %> </span>
          </td>
          <td><%= discussion.comments.count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
    <a class="custom-btn mg-r20 pull-right" data-toggle="modal" data-target="#discussion">Add Discussion</a>
    <%= render 'form' %>
</div>
