<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'discussion' %>
<% end %>
<div class="table-responsive">
  <div>
    <h3 class="heading-3 pull-left">Discussion List</h3>

    <div class="pull-right">
      <%= link_to new_project_discussion_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Discussion
      <% end %>
    </div>
  </div>
  <table class="table table-hover col-md-12 discussion-list">
    <thead>
    <tr>
      <th class="col-md-9">Title</th>
      <th class="col-md-2">Last Activity</th>
      <th class="col-md-1">Comments</th>
    </tr>
    </thead>
    <tbody>
    <% @discussions.each do |discussion| %>
        <tr class="anchor-container" data-href="<%= project_discussion_path(@project, discussion) %>">
          <td>
            <a href="<%= project_discussion_path(@project, discussion) %>"><%= discussion.title %></a>
            <p>Posted By: <%= discussion.posted_by.name + '. on ' + discussion.created_at.localtime.strftime("%B %d, %Y") if discussion.posted_by.present? %> </p>
          </td>
          <td>
            <span><%= discussion.last_activity.created_at.localtime.strftime("%B %d, %Y -  %l : %M %p") if discussion.last_activity.present? %></span><br>
            <span> by <%= discussion.last_activity.owner.name if discussion.last_activity.present? %> </span>
          </td>
          <td><%= discussion.comments.count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
