<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'discussion' %>
<% end %>
<div class="page-header">
  <%= link_to project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <%= link_to new_project_discussion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Discussion
  <% end %>
  <h1>Listing Discussions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Private</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @discussions) do |discussion| %>
      <td><%= discussion.title %></td>
      <td><%= discussion.content %></td>
      <td><%= discussion.private %></td>
      <td><%= link_to 'Show', [@project,discussion] %></td>
      <td><%= link_to 'Edit', edit_project_discussion_path(@project, discussion) %></td>
      <td><%= link_to 'Destroy', [@project, discussion], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>
  </table>
</div>
