<div class="page-header">
  <%= link_to project_discussions_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_project_discussion_path(@project ,@discussion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Discussion</h1>
</div>

<dl class="dl-horizontal">
  <dt>Group:</dt>
  <dd><%= @discussion.discussion_group.try(:name) || 'Not Specified' %></dd>

  <dt>Title:</dt>
  <dd><%= @discussion.title %></dd>

  <dt>Description:</dt>
  <dd><%= @discussion.content %></dd>

  <dt>Private:</dt>
  <dd><%= @discussion.private %></dd>

  <br>

  <h2>Comments</h2>

  <%= render "comments/comments" %>
  <%= render "comments/form" %>

  <%= link_to new_project_discussion_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Start New Discussion
  <% end %>

  <%= link_to project_discussions_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list"></span>
    List all Discussions
  <% end %>
</dl>
