<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: '' %>
<% end %>
<div class="row">
  <div class="col-md-6">
    <div class="todo-head-container">
      <div class="user-img-15 pull-left">JB</div>
      <div class="todo_name">
        <div class="todo-list"> <%= @discussion.title %></div>
      </div>
      <div class="pull-right mg-r50">
        <%= link_to edit_project_discussion_path(@project, @discussion), class: 'btn btn-default' do %>
            Edit
        <% end %>
        <% if can? :destroy, @discussion %>
            <%= link_to project_discussion_path(@project, @discussion), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" do %>
                Delete
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 mg-t10">
      <span class="value discussion-content"><%= @discussion.content.html_safe %></span>
      <hr>
    </div>
    <h4>Contributors</h4>

    <div class="col-md-12 mg-b20">
      <ul>
        <%= @contributors.map(&:name).join(', ') %>
      </ul>
    </div>
    <%= render 'attachments/list_attachments', resource: @discussion %>
  </div>
  <div class="col-md-6">
    <%= render "comments/form" %>
    <% if @comments.present? %>
        <%= render "comments/comments" %>
    <% end %>
  </div>
</div>
