<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: '' %>
<% end %>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-9">
      <div class="todo-head-container">
        <div class="user-img-15 pull-left">JB</div>
        <div class="todo_name">
          <div class="todo-list"> <%= @discussion.title %></div>
        </div>
        <div class="pull-right mg-r50">
          <%= link_to edit_project_discussion_path(@project, @discussion), class: 'btn btn-default' do %>
              Edit
          <% end %>
          <%= link_to project_discussion_path(@project, @discussion), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" do %>
              Delete
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <span class="value discussion-content"><%= @discussion.content.html_safe %></span>
        <hr>
      </div>
      <%= render 'attachments/list_attachments', resource: @discussion %>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default todo-noti-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Contributors</h3>
        </div>
        <div class="panel-body">
          <ul style="list-style: decimal">
            <% @contributors.each do |contributor| %>
                <li><%= contributor.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
