<div class="col-md-12">
  <% if @comments.present? %>
      <h3 class="heading-3 mg-b20">Comments</h3>
  <% end %>
  <div class="comments-container">
    <ul id="comments-list" class="comments-list">
      <% @comments.each do |comment| %>
          <li>
            <div class="comment-main-level">
              <div class="comment-avatar">
                <span class="user-img-15 pull-left mg-r20" style="background-color: #E8BB46">JB</span>
              </div>
              <div class="col-md-10 comment-box nopadding">
                <div class="comment-head">
                  <h6 class="comment-name"><%= comment.user.name %></h6>
                  <span><%= distance_of_time_in_words(Time.current, comment.created_at) %> ago</span>
                  <% polymorphic_url_array = [@project, @commentable, comment] %>
                  <%= link_to polymorphic_path(polymorphic_url_array), method: :delete do %>
                      <i class="fa fa-trash-o"></i>
                  <% end %>
                  <%= link_to edit_polymorphic_path(polymorphic_url_array) do %>
                      <i class="fa fa-pencil"></i>
                  <% end %>
                </div>
                <div class="comment-content">
                  <%= simple_format comment.content %>
                  <%= render 'attachments/list_attachments', resource: comment %>
                </div>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
