<div class="panel panel-default">
  <div class="panel-body nopadding pd-r10 pd-l10">
    <ul class="comments-list">
      <% @comments.each do |comment| %>
          <li class="comment clearfix">
            <a class="pull-left" href="#">
              <span class="user-img-15 pull-left mg-r20" style="background-color: #E8BB46">JB</span>
            </a>
            <span class="pull-right todo-detail-comment-icon">
              <% polymorphic_url_array = [@project, @commentable, comment] %>
              <% if can? :destroy, comment %>
                <%= link_to polymorphic_path(polymorphic_url_array), method: :delete do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
                <% end %>

              <%= link_to edit_polymorphic_path(polymorphic_url_array) do %>
                  <i class="fa fa-pencil"></i>
              <% end %>
            </span>

            <div class="comment-body">
              <div class="comment-heading">
                <h4 class="user"><%= comment.user.name %></h4>
                <h5 class="time"><%= distance_of_time_in_words(Time.current, comment.created_at) %> ago</h5>
              </div>
              <p><%= simple_format comment.content %></p>
              <%= render 'attachments/list_attachments', resource: comment %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
