<div class="clearfix"></div>
<div class="col-md-12">
 <ul>
  <li class="media" style="border-top: 1px solid #dedede; padding-top: 10px;">
  <div class="media-left hidden-xs">
    <span class="user-img-15 pull-left mg-r20" style="background-color: #E8BB46">TJ</span>
  </div>
  <div class="media-body">
    <%= form_for [@project, @commentable, @comment], html: {multipart: true} do |f| %>

        <%= render 'shared/error_messages', object: @comment %>
        <div class="form-group">
          <%= f.cktext_area :content, rows: 8, class: 'form-control' %>
        </div>
        <div>
          <%= f.submit class: "custom-btn" %>
          <%= render 'attachments/browse_attachments', resource: @comment %>
        </div>
    <% end %>
   </div>
  </li>
 </ul>
</div>