<%= form_for [@project, @commentable, @comment],  html: { multipart: true } do |f| %>

  <%= render 'shared/error_messages', object: @comment  %>
  <div class="form-group">
    <%= f.text_area :content, rows: 8, class: 'form-control' %>
  </div>

  <%= render 'attachments/browse_attachments', resource: @comment %>

  <div class="form-group">
    <div class="col-sm-offset-10 ">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>