<%= form_for([@project, @task], html: { class: "form-horizontal", role: "form", multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: @task  %>
  <%= render 'groups/select_or_create_group', form_builder: f, resource: @task  %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :priority, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.select :priority, Task.priorities.keys, { include_blank: "None" }, { class: 'form-control'} %>
    </div>
  </div>
  <% if @task.persisted?  %>
    <div class="form-group">
      <%= f.label :progress, class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
        <%= f.select :progress, Task.progresses.keys, {}, { class: 'form-control'} %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :assigned_to, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.select :assigned_to, assigned_to_options(@project), { include_blank: "Nobody" }, { class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :due_at, class: 'form-control date_picker' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2 ">
      <%= render 'attachments/browse_attachments' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
