<%= form_for([@project, @task], html: {class: "add-todo-container mg-t20", role: "form", multipart: true}) do |f| %>
    <%= render 'shared/error_messages', object: @task %>
    <%= f.text_field :title, id: "myTextbox", class: "form-control mg-b10", placeholder: "ADD To-Do" %>
    <div id="hide-todo" class="customHideEvent">
      <div class="form-group">
        <%= f.text_area :description, class: "form-control description-textarea", placeholder: "To-Do Description", cols: 6, rows: 8 %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :assigned_to, class: "custom-label" %>
        <%= f.select :owner_id, assigned_to_options(@project), {include_blank: "Nobody"}, {class: 'form-control'} %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :priority, class: "custom-label" %>
        <%= f.select :priority, Task::PRIORITIES.values, {}, {class: 'form-control'} %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :due_at, class: "custom-label" %>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= f.text_field :due_at, class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :tags, class: "custom-label" %>
        <%= f.text_field :tag_list, class: 'form-control', data: {autocomplete_sourse: Task.get_source_tags} %>
      </div>

      <% if @task.persisted? %>
          <div class="form-group col-md-4">
            <%= f.label :state, class: "custom-label" %>
            <%= f.select :state, Task::STATES, {}, {class: 'form-control'} %>
          </div>
      <% end %>

      <div class="form-group col-md-4 mg-t10">
        <label></label>
        <%= render 'attachments/browse_attachments', addable_to_project: true if @task.new_record? %>
      </div>
      <div class="clearfix"></div>
      <div class="pull-right">
        <% if @task.persisted? %>
            <a type="button" class="btn btn-default" href="<%= project_tasks_path(@project) %>">Back to Tasks</a>
            <%= f.submit 'Update To-Do', class: "btn btn-success" %>
        <% else %>
            <button type="button" class="btn btn-default" id="close-todo">Cancel</button>
            <%= f.submit 'Add To-Do', class: "btn btn-success" %>
        <% end %>
      </div>

    </div>
<% end %>
