<% content_for(:show_hide_completed) do %>
    <div class="dropdown">
      <%= link_to '#', class: 'btn btn-default dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <!--<li class="active"><a href="#">Unscheduled Tasks</a></li>-->
        <% {unscheduled: 'Unscheduled', current: 'Current', accepted: 'Accepted', all: 'All'}.each do |key, title| %>
            <%= content_tag :li, class: ('active' if @visibility.eql?(key.to_s)) do %>
                <%= link_to("#{title} Tasks", project_tasks_path(@project, visibility: key)) %>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

<% content_for(:search_tasks) do %>
    <div class="col-md-12">
      <%= form_tag project_tasks_path(@project), :method => 'get', :class => 'navbar-form mg-t0' do %>
          <div class="input-group">
            <%= text_field_tag :search_text, params[:search_text], placeholder: "Search Tasks", class: "form-control" %>
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
          </div>
      <% end %>
    </div>
<% end %>

<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'todos' %>
<% end %>


<div class="col-md-12">
  <div class="col-md-9">
    <ul class="sortable" id="tasks" data-update-url="<%= sort_project_tasks_url %>">
      <% @tasks.each do |task| %>
          <li id="task_<%= task.id %>" class="ui-state-default custom-ui-state">
            <span class="ui-icon ui-icon-grip-dotted-vertical custom-ui-drag"></span>

            <p class="todo-content">
              <%= content_tag(:span, task.progress, class: "label label-info progress-status progress-#{task.progress}") %>

              <%= link_to project_task_path(@project, task) do %>
                  <%= content_tag(:strong, task.ticket_id.upcase) %>
                  <%= task.title %>
              <% end %>

              <%= content_tag :span, class: 'tag-holder' do %>
                  <%= content_tag(:span, task.priority, class: 'tag', title: "Priority: #{task.priority}") unless task.priority.eql?('None') %>
                  <%= content_tag(:span, task.due_at, class: 'tag', title: "Due on: #{task.due_at}") if task.due_at.present? %>
                  <%= content_tag(:span, "@#{task_assigned_to task}", class: 'tag', title: "Assigned to: #{task_assigned_to task}") if task.assigned_to.present? %>
                  <%= content_tag(:i, '', class: 'fa fa-list-alt', title: 'This task has description') if task.description.present? %>
                  <%= content_tag(:i, '', class: 'fa fa-paperclip', title: 'This task has attachments') if task.attachments.present? %>
                  <%= content_tag(:i, task.comments.count, class: 'fa fa-commenting-o', title: "This task has #{pluralize(task.comments.count, 'comment')}") if task.comments.present? %>
              <% end %>

            <div class="pull-right todo-after">
              <a href="<%= edit_project_task_path(@project, task) %>" title="Edit To-Do"><i class="fa fa-pencil customTodo-icon"></i></a>
              <%= link_to project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-trash-o customTodo-icon"></i>
              <% end %>
            </div>
            </p>
          </li>
      <% end %>
    </ul>
    <div class="newTaskForm">
      <%= render 'form' %>
    </div>
  </div>
</div>
