<% content_for(:show_hide_completed) do %>
    <% include_completed = cookies[:include_completed] == 'true' %>
    <%= link_to project_tasks_path(@project, include_completed: !include_completed), :data => {:toggle => 'tooltip', :placement => 'bottom'},
                title: "#{include_completed ? 'Hide Completed Task' : 'Show Completed Task'}" do %>
        <i class="fa  <%= include_completed ? "fa-eye" : "fa-eye-slash" %>" aria-hidden="true"></i>
    <% end %>
<% end %>

<% content_for(:search_tasks) do %>
    <div class="col-md-12">
      <%= form_tag project_tasks_path(@project), :method => 'get', :class => 'navbar-form mg-t0' do %>
          <div class="input-group">
            <%= text_field_tag :search_text, params[:search_text], placeholder: "Search Tasks", class: "form-control" %>
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
          </div>
      <% end %>
    </div>
<% end %>

<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'todos' %>
<% end %>


<div class="col-md-12">
  <div class="col-md-9">
    <ul class="sortable" id="tasks" data-update-url="<%= sort_project_tasks_url %>">
      <% @tasks.each do |task| %>
        <li id="task_<%= task.id %>" class="ui-state-default custom-ui-state anchor-container" data-href="<%= project_task_path(@project, task) %>">
          <span class="ui-icon ui-icon-grip-dotted-vertical custom-ui-drag"></span>

          <p class="todo-content">
            <span class="label label-info progress-status progress-<%= task.progress %>"><%= task.progress %></span>
            <span class="<%= task.completed? ? 'line-through' : '' %>"><%= task.title %></span>
              <span class="tag-holder">
                  <span class="tag <%=  'hidden' if task.priority == 'None' %>">Priority: <%= task.priority %></span>
                  <% if task.due_at.present? %>
                    <span class="tag"> Due Date: <%= task.due_at %></span>
                  <%end%>
                    <span class="tag <%=  'hidden' if task.comments.count == 0 %>">Comment (<%= task.comments.count %>)</span>
                  <% if task.assigned_to.present? %>
                    <span class="tag">Assigned To (<%= task_assigned_to task %>)</span>
                  <%end%>
                  <%= content_tag(:span, task.progress, class: 'tag' ) %>
              </span>

          <div class="pull-right todo-after">
            <a href="<%= edit_project_task_path(@project, task) %>" title="Edit To-Do"><i class="fa fa-pencil customTodo-icon"></i></a>
            <%= link_to project_task_path(@project, task), method: :delete, data: {confirm: 'Are you sure?'} do %>
                <i class="fa fa-trash-o customTodo-icon"></i>
            <% end %>
          </div>
          </p>
        </li>
      <% end %>
    </ul>
    <div class="newTaskForm">
        <%= render 'form' %>
    </div>
  </div>
</div>
