<div class="row">
  <div class="col-md-12 show-page-head">
    <%= link_to project_tasks_path(@project) do %>
      <span><i class="fa fa-arrow-circle-o-left"></i></span>
      Back To To-Do's
    <% end %>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-9">
      <div class="todo-head-container">
        <div class="user-img-15 pull-left">JB</div>
        <div class="todo_name">
          <div class="todo-list"> To-Do list </div>
          <div class="todo-name"> <%= @task.title %> </div>
        </div>
      </div>
      <ul class="col-md-12 todo-info-list">
        <li class="col-md-4">
          <span class="key">Group: </span>
          <span class="value"><%= @task.task_group.try(:name) || 'Not Specified' %></span>
        </li>
        <li class="col-md-4">
          <span class="key">Assigned To: </span>
          <span class="value"><%= task_assigned_to @task %></span>
        </li>
        <li class="col-md-4">
          <span class="key">Due By: </span>
          <span class="value"><%= @task.due_at %></span>
        </li>
        <li class="col-md-4">
          <span class="key">Priority: </span>
          <span class="value"><%= @task.priority %></span>
        </li>
        <li class="col-md-4">
          <span class="key">Progress: </span>
          <span class="value"><%= @task.progress %></span>
        </li>
        <li class="col-md-12">
          <span class="key">Description: </span>
          <span class="value"><%= @task.description %></span>
        </li>
      </ul>
      <div class="col-md-12 todo-item">
        <div class="pull-left">
          <button class="btn btn-default">Assign to Me</button>
          <button class="btn btn-default">Start Progress</button>
        </div>
        <div class="pull-right">
          <%= link_to edit_project_task_path(@project ,@task), class: 'btn btn-default' do %>
              Edit
          <% end %>
          <%= link_to project_task_path(@project, @task), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" do %>
              Delete
          <% end %>
        </div>
      </div>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
      <%= render 'attachments/list_attachments', resource: @task %>
    </div>
  </div>
</div>
