<div class="row">
  <div class="col-md-12 show-page-head">
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-9">
      <div class="todo-head-container">
        <div class="user-img-15 pull-left">JB</div>
        <div class="todo_name">
          <div class="todo-list"> To-Do list </div>
          <div class="todo-name"> <%= @task.title %> </div>
        </div>
      </div>
      <ul class="col-md-12 todo-info-list">
        <li class="col-md-4">
          <span class="key">Assigned To: </span>
          <span id="assigned_to" class="value"><%= task_assigned_to @task %></span>
        </li>
        <% if @task.due_at.present? %>
         <li class="col-md-4">
          <span class="key">Due By: </span>
          <span class="value"><%= @task.due_at %></span>
         </li>
        <% end %>
        <li class="col-md-4">
          <span class="key">Priority: </span>
          <span class="value"><%= @task.priority %></span>
        </li>
        <li class="col-md-4">
          <span class="key">Progress: </span>
          <span id="progress" class="value"><%= @task.progress.humanize %></span>
        </li>
        <% if @task.creator.present? %>
         <li class="col-md-4">
          <span class="key">Created By: </span>
          <span class="value"> <%= @task.creator.name %> </span>
         </li>
        <% end %>
        <li class="col-md-12">
          <span class="key">Description: </span>
          <span class="value"><%= @task.description %></span>
        </li>
      </ul>
      <div class="col-md-12 todo-item">
        <div class="pull-left">
          <%= link_to 'Assign to Me', assigned_to_me_project_task_path(@project ,@task),method: :patch, remote: true,  class: 'btn btn-default' %>
          <span id = "progress_buttons">
            <%= render 'tasks/progress_buttons'%>
          </span>
        </div>
        <div class="pull-right">
          <%= link_to edit_project_task_path(@project ,@task), class: 'btn btn-default' do %>
              Edit
          <% end %>
          <%= link_to project_task_path(@project, @task), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" do %>
              Delete
          <% end %>
        </div>
      </div>
      <%= render 'attachments/list_attachments', resource: @task %>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
