<div class="page-header">
  <%= link_to project_tasks_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_project_task_path(@project ,@task), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Task</h1>
</div>

<dl class="dl-horizontal">
  <dt>Group:</dt>
  <dd><%= @task.task_group.try(:name) || 'Not Specified' %></dd>

  <dt>Title:</dt>
  <dd><%= @task.title %></dd>

  <dt>Description:</dt>
  <dd><%= @task.description %></dd>

  <dt>Priority:</dt>
  <dd><%= @task.priority %></dd>

  <dt>Due Date:</dt>
  <dd><%= @task.due_at %></dd>


  <br>

  <%= render 'attachments/list_attachments', resource: @task %>
  <%= render "comments/comments" %>
  <%= render "comments/form" %>

  <%= link_to new_project_task_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add Todo
  <% end %>

  <%= link_to project_tasks_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list"></span>
    List all Tasks
  <% end %>
</dl>
