<% notifications.each do |notification| %>
  <li class="<%= notification.read? ? '' : 'notification-unread' %>" data-notification-id="<%= notification.id %>">
    <span style="cursor: pointer; float: left;">
      <i class="fa fa-times" id="deleteNotificationBtn" aria-hidden="true"></i>
    </span>
    <span class="col-md-11" style="padding-right: 0;">
      <%= main_link(notification) %>
      <span class="text-capitalize">
        <b><%= notification.performer_name %></b>
        <%= notification.resource_action %>
        <%= text_with_link(notification) %>
      </span>
    </span>
  </li>
<% end %>
