<% notifications.each do |notification| %>
  <% if notification.trackable.present?  %>
      <li class="<%= notification.unread? ? 'notification-unread' : '' %>" data-notification-id="<%= notification.id %>">
      <span style="cursor: pointer; float: left;">
        <i class="fa fa-times" id="deleteNotificationBtn" aria-hidden="true"></i>
      </span>
      <span class="col-md-11" style="padding-right: 0;">
        <%= friendly_link(notification) %>
        <span class="text-capitalize"><b><%= notification.activity.owner.name if notification.activity.owner %></b></span>
        <%= render_activity notification.activity %>
      </span>
      </li>
    <% end %>
<% end %>