<div class="bg-primary task_project_heading">Notifications</div>
<div class="table-responsive">
  <table class="table table-hover">
    <tr class="active">
      <td>Notice</td>
      <td>Date</td>
    </tr>
    <% notice_count =  current_user.notifications.where(:status => 'unread').count %>
    <% @notifications.each do |notification| %>
        <tr id = "<%= notification.id%>notice"<% if notification.status =='unread' %> <%= 'class=info' %> <% end %> onclick="read_notice(<%= notification.id %>);">
          <td>
            <%= notification.activity.owner.name if notification.activity.owner %>
            <%= render_activity notification.activity %>
          </td>
          <td>
            <%= time_ago_in_words(notification.created_at) %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td>

      </td>
    </tr>
  </table>
</div>