<!--TODO: Fix it later, for now removing this feature, after fixing uncomment below line and delete next line-->
<% #current_user.projects.each do |project| %>
<% [].each do |project| %>
    <div class="col-lg-12 col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default notification-panel">
          <div class="panel-heading unread-message" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= project.id %>" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">
                <i class="fa fa-check-circle-o"></i> Project: <%= project.title %>
              </h4>
            </a>
          </div>
          <div id="<%= project.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <% project.payloads.each do |payload| %>
                  <% short_message = VCSFactory.new(payload).get_vcs.message %>
                  <%= render('push_notice', short_message: short_message) if payload.event == "push" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% notice_count = current_user.notifications.unread.count %>

<% @notifications.each_with_index do |(notifiable, notifications), index| %>
    <div class="col-lg-12 col-md-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default notification-panel">
          <div class="panel-heading unread-message" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= index %>" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">
                <i class="fa fa-check-circle-o"></i> <%= notifiable ? notifiable.title : 'Has been removed' %>
              </h4>
            </a>
          </div>
          <div id="<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <% notifications.each do |notification| %>
                  <div class="notification-message-container">
                    <a href="#" class="notification-user" style="background-color: #AB5733">JB</a>
                    <a id="<%= notification.id %>notice" class="<%= notification.read? ? 'success-edit' : 'info' %>"
                       onclick="read_notice(<%= notification.id %>);"><i class="fa fa-check-square"></i></a>
                      <span class="message-info"><b><%= notification.performer_name %></b>
                        <%= notification.resource_action %>
                        <%= text_with_link(notification) %> -
                        <%= time_ago_in_words(notification.created_at) %></span>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
