<div class="comment-attachment">
  <img title="{{title}}" src="{{thumb}}" alt="{{title}}" />
  <div class="mask">
    <span class="mask-icon">
      <i class="fa fa-search" data-toggle="modal" data-target="#attachmentPreview-{{resource_id}}" data-type="{{type}}" data-url="{{url}}" data-title="{{title}}"></i>
      <a rel="nofollow" data-method="post" href="{{download_attachment_path}}">
        <i class="fa fa-download" aria-hidden="true"></i>
      </a>
      <a data-confirm="Are you sure?" class="" rel="nofollow" data-method="delete" href="{{attachment_path}}">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>
