<div class="custom-container">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class=<%= "active" if active =='todos' %>>
      <a href="<%= project_tasks_path(@project) %>"><i class="fa fa-check-circle-o mg-r10"></i>To-Do's</a></li>
    <li role="presentation" class=<%= "active" if active =='discussion' %>>
      <a href="<%= project_discussions_path(@project) %>"><i class="fa fa-comments-o mg-r10"></i>Discussions</a></li>
    <li role="presentation" class=<%= "active" if active =='files' %>>
      <a href="<%= project_attachments_path(@project) %>"><i class="fa fa-folder-open-o mg-r10"></i>Files</a></li>
    <li role="presentation" class="pull-right <%= "active" if active =='settings' %>">
      <a href="<%= project_path(@project) %>"><i class="fa fa-cog mg-r10"></i>Project Settings</a>
    </li>
  </ul>
</div>
