<% if resource.attachments.present? %>
    <h4>Attachments</h4>

    <% resource.attachments.each do |attachment| %>
        <div class="comment-attachment">
          <%= image_tag attachment.document.exists?(:thumb) ? attachment.document.url(:thumb) : 'missing_file_type.png',
                        title: attachment.document_file_name %>
          <div class="mask">
                        <span class="mask-icon">
                            <%= content_tag(:i, '', class: 'fa fa-search', data: {toggle: "modal",
                                                                                  target: "#attachmentPreviewModel-#{resource_div_id(resource)}",
                                                                                  type: attachment.document_content_type,
                                                                                  url: attachment.document.url,
                                                                                  title: attachment.document_file_name}) %>
                          <%= link_to download_project_attachment_path(@project, attachment), method: :post do %>
                            <i class="fa fa-download" aria-hidden="true"></i>
                          <% end %>
                          <% if can? :destroy, attachment %>
                             <%= link_to project_attachment_path(@project, attachment), method: :delete, data: {confirm: 'Are you sure?'}, class: "" do %>
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                             <% end %>
                         <% end %>
                        </span>
          </div>
        </div>
    <% end %>

    <%#= render 'attachments/preview_attachement', :attachments => resource.attachments %>
    <div class="modal fade modal_div modal-wide" id="attachmentPreviewModel-<%= resource_div_id(resource) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="attachmentTitle"></h4>
            <a id="downloadAttachmentBtn" class="modal-url" title="Download" data-toggle="tooltip" href="">
              Download
              <i class="fa fa-download"></i>
            </a>
          </div>
          <div class="modal-body">

            <div id="carousel-for-<%= resource_div_id(resource) %>" class="carousel slide carousel_div" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <% resource.attachments.each_with_index do |attachment, index| %>
                    <%= content_tag :div, class: "item #{"active" if index.zero? }", data: {url: attachment.document.url,
                                                                                            title: attachment.document_file_name, } do %>
                        <%= link_to image_tag(attachment.document.url),attachment.document.url, :target => "_blank" %>
                    <% end %>
                <% end %>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-for-<%= resource_div_id(resource) %>" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-for-<%= resource_div_id(resource) %>" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

<% end %>
