<% if resource.attachments.present? %>
    <h4>Attachments</h4>

    <% resource.attachments.each do |attachment| %>
        <div class="comment-attachment">
          <%= image_tag attachment.document.exists?(:thumb) ? attachment.document.url(:thumb) : 'missing_file_type.png',
                        title: attachment.document_file_name %>
          <div class="mask">
                        <span class="mask-icon">
                            <%= content_tag(:i, '', class: 'fa fa-search', data: {toggle: "modal", target: "#attachmentPreviewModel",
                                                                                  type: attachment.document_content_type,
                                                                                  url: attachment.document.url,
                                                                                  title: attachment.document_file_name}) %>
                          <%= link_to download_project_attachment_path(@project, attachment), method: :post do %>
                            <i class="fa fa-download" aria-hidden="true"></i>
                          <% end %>
                          <% if can? :destroy, attachment %>
                             <%= link_to project_attachment_path(@project, attachment), method: :delete, data: {confirm: 'Are you sure?'}, class: "" do %>
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                             <% end %>
                         <% end %>
                        </span>
          </div>
        </div>
    <% end %>

    <%= render 'attachments/preview_attachement' %>
<% end %>
