<section id="brand" class="pd-b50 pd-t50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-01'), :class => "img-responsive") %>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-02'), :class => "img-responsive") %>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-03'), :class => "img-responsive") %>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-04'), :class => "img-responsive") %>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-05'), :class => "img-responsive") %>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <%= image_tag(('brand-06'), :class => "img-responsive") %>
        </div>
      </div>
    </div>
  </div>
</section>