<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login-dailog" role="document">
    <div class="modal-content login-content">
      <div class="modal-header login-header">
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body login-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div class="form-group">
              <label class="modal-label" for="exampleInputEmail1">Email address</label>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <label class="modal-label" for="exampleInputPassword1">Password</label>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= f.submit 'Submit', class: "btn btn-success", style: "width: 98%" %>
            </div>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
            <div class="or_div mg-b20 mg-t20">
              <div class="text"><span>login with</span></div>
              <div class="line">&nbsp;</div>
            </div>
            <div class="text-center">
              <a href="#"><i class="fa fa-facebook-square fa-2x mg-r10" style="color: #46629E;"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-2x mg-r10" style="color: #659FCB;"></i></a>
              <a href="#"><i class="fa fa-google-plus-square fa-2x mg-r10" style="color:#D74337;"></i></a>
              <a href="#"><i class="fa fa-linkedin-square fa-2x mg-r10" style="color: #0177B5;"></i></a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
