<div class="col-md-12 col-centerd clearfix">
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="mg-b40">
      <h4 class="text-info">Sign in to your Account</h4>

      <p class="text-primary">Please sign in using your registered email address and password</p>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">Email address</label>
              <%= f.text_field :email, class: "form-control", id: "login_user_email" %>
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputPassword1">Password</label>
              <%= f.password_field :password, class: "form-control", id: "login_user_password"%>
            </div>
            <div class="form-group">
              <%= f.submit 'Submit', class: "btn btn-success" %>
            </div>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
        <% end %>
      </div>
    </div>
    <%= link_to "Sign-In with Google", user_omniauth_authorize_path(:google_oauth2) %>

  </div>
  <div class="col-md-2 wrapper hidden-sm hidden-xs">
    <div class="line-temp"></div>
    <div class="wordwrapper">
      <div class="word">or</div>
    </div>
  </div>
  <div class="or_div mg-b20 mg-t20 visible-sm visible-xs">
    <div class="text"><span>OR</span></div>
    <div class="line">&nbsp;</div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="mg-b20">
      <h4 class="text-info">Create Account</h4>

      <p class="text-primary">Not registered? Please complete the following steps to set up your account:</p>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(:user, :url => registration_path(:user)) do |f| %>
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">First & Last Name</label>
              <%= f.text_field :name, placeholder: "First & Last Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">Email address</label>
              <%= f.email_field :email, placeholder: "Email Address", class: "form-control", id: "signup_user_email"  %>
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputPassword1">Password</label>
              <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "signup_user_password"  %>
            </div>
            <div class="form-group">
              <label class="text-muted" for="exampleInputEmail1">Password Confirmation</label>
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
            </div>
            <%= f.submit t('.sign_up', :default => "Create Account"), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
