<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%# TODO: Add relevant subtitle %>
  <title>Camp One</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/public_navbar' %>
<%= render 'intro_section' %>

<% if @available_sections[:features] %>
  <%= render 'features_section' %>
<% end %>

<% if @available_sections[:pricing] %>
  <%= render 'pricing_section' %>
<% end %>


<% if @available_sections[:map] %>
  <div id="map"></div>
<% end %>


<% if @available_sections[:reviews] %>
  <%= render 'reviews_section' %>
<% end %>

<% if @available_sections[:brand] %>
  <%= render 'brand_section' %>
<% end %>


<% if @available_sections[:contact_us] %>
  <%= render 'contact_section' %>
<% end %>


<%= render 'register_modal' %>
<%= render 'shared/public_footer' %>
</body>
</html>
