<%= form_for(@project, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :project_group_id, 'Select Group ', class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding: 0">
      <div class="col-sm-3">
        <% puts "projec gsdtrosu id: #{@project.project_group_id}" %>
        <%= f.select :project_group_id, ProjectGroup.all.map{|pg| [pg.name, pg.id]}, { :include_blank =>  'None Specified', :selected => @project.project_group_id } , class: "form-control" %>
      </div>
      <div class="col-sm-8">
        <%= f.fields_for :project_group do |pg| %>
          <%= f.label :name, 'OR create New', class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
          <%= pg.text_field :name, class: "form-control"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
