<% content_for(:settings_body) do %>
    <%= form_for [:update_initials, @project, @my_contribution], html: {role: 'form', class: 'form-inline mg-b20'} do |f| %>
        <div class="form-group mg-r10">
          <%= f.label :initials, 'My Initials' %>
          <%= f.text_field :initials, class: 'form-control' %>
        </div>
        <%= f.submit 'Update', class: 'btn btn-success' %>
    <% end %>

    <% if can? :create, Contribution.new(project: @project) %>
        <p>
          Invite a new member to
          <strong>
            <%= @project.title %>
          </strong>
        </p>
        <div class='mg-b20'>
          <%= render 'contributions/form' %>
        </div>
    <% end %>

    <p>
      Existing Members for
      <strong>
        <%= @project.title %>
      </strong>
    </p>
    <%= render 'contributions/list' %>
<% end %>

<%= render 'shared/settings', project: @project, active: 'contributors', title: 'Project Members' %>
