<% content_for(:settings_body) do %>
    <% if can? :create, @contribution %>
        <p>
          Invite a new member to
          <strong>
            <%= @project.title %>
          </strong>
        </p>
        <div class='mg-b30'>
          <%= form_for [@project, @contribution], html: {class: 'form-inline'} do |f| %>
              <div class="form-group mg-r10">
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>
              </div>
              <div class="form-group mg-r10">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group mg-r10">
                <%= f.label :role %>
                <%= f.select :role, options_for_select(Contribution::ROLES.values - ['Owner'], selected: @contribution.role), {}, class: 'form-control' %>
              </div>
              <%= f.submit 'Invite', class: 'btn btn-success' %>
          <% end %>
        </div>
    <% end %>

    <p>
      Existing Members for
      <strong>
        <%= @project.title %>
      </strong>
    </p>
    <% if @project.contributions.present? %>
        <%= render 'contributions/list', contributions: @project.contributions %>
    <% else %>
        <p class="text-center">No Contributions Found.</p>
    <% end %>
<% end %>

<%= render 'shared/settings', project: @project, active: 'contributors', title: 'Project Members' %>
