<% content_for(:settings_body) do %>
    <%= form_for(@project, html: {role: 'form', class: 'form-horizontal'}) do |f| %>
        <%= render 'shared/error_messages', object: @project %>
        <table class="table borderless">
          <tr>
            <th class="text-right col-md-2"><%= f.label :title, 'Title:', class: 'control-label' %></th>
            <td class="col-md-10"><%= f.text_field :title, class: 'form-control' %></td>
          </tr>
          <tr>
            <th class="text-right"><%= f.label :description, 'Description:', class: 'control-label' %></th>
            <td><%= f.text_area :description, class: 'form-control' %></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <%= f.button class: 'btn btn-primary' do %>
                  <span class='glyphicon glyphicon-save'></span>
                  Update
              <% end %>
              <%= link_to settings_project_path(@project), class: 'btn btn-default' do %>
                  <span class='glyphicon glyphicon-arrow-left'></span>
                  Back
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>
<% end %>

<%= render 'shared/settings', project: @project, active: 'settings', title: 'Project Settings' %>
