<div class="page-header">
  <%= link_to new_project_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Project
  <% end %>
  <h1>Listing projects</h1>
</div>

<%= content_tag_for(:tr, @projects) do |project| %>
    <div class="project anchor-container" data-href="<%= project_tasks_path(project) %>">
      <h3 class="project-name"><%= project.name %></h3>

      <div class="color_corner" style="border-right-color: #DC4138;">
        <div class="triangle"></div>
      </div>
      <div class="cog_container">
        <span class="cog-setting"><i class="fa fa-cog"></i></span>
      </div>
      <p class="project-description mg-b10"><%= project.description %></p>

      <div class="project-apps mg-b50">
        <a href="<%= project_tasks_path(project) %>" class="project-icon" data-toggle="tooltip" data-placement="bottom" title="TO-DO's"><i class="fa fa-check-circle-o"></i></a>
        <a href="<%= project_discussions_path(project) %>" class="project-icon" data-toggle="tooltip" data-placement="bottom" title="Discussions"><i class="fa fa-comments-o"></i></a>
        <a href="<%= project_attachments_path(project) %>" class="project-icon" data-toggle="tooltip" data-placement="bottom" title="Files"><i class="fa fa-folder-open-o"></i></a>
        <a href="<%= project_events_path(project) %>" class="project-icon" data-toggle="tooltip" data-placement="bottom" title="Calendar"><i class="fa fa-calendar"></i></a>
      </div>
      <div class="project-user">
        <a href="#" style="background-color: #AB5733">JB</a>
        <a href="#" style="background-color: #DC4138">GS</a>
        <a href="#" style="background-color: #329350">TJ</a>
        <a href="#" style="background-color: #E8BB46">UA</a>
      </div>
    </div>
<% end %>
