<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'settings' %>
<% end %>
<div class='custom-tab-container'>
  <%= render 'shared/settings_tab', project: @project, class_name: 'active', active: 'settings' %>

  <div class='col-lg-9 col-md-9 col-sm-9 col-xs-9 custom-tab'>
    <div class='custom-tab-content active'>
      <div class='tab-content-header'>
        <h3 class='heading-3'>Project Settings</h3>

        <div class='pull-right'>
          <% if can? :edit, @project %>
              <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
                  <span class='glyphicon glyphicon-pencil'></span>
                  Edit
              <% end %>
          <% end %>

          <% if can? :destroy, @project %>
              <button type='button' class='btn btn-danger' data-toggle='modal' data-target='#myModal'>
                <span class='glyphicon glyphicon-trash'></span> Delete
              </button>
              <%= render 'projects/delete_project_modal', project: @project %>
          <% end %>
        </div>
      </div>
      <hr>
      <label class="col-md-2 text-right">Title:</label>

      <p class="col-md-10">
        <%= @project.title %>
      </p>
      <label class="col-md-2 text-right">Owner:</label>

      <p class="col-md-10">
        <%= @project.owner.name %>
      </p>
      <label class="col-md-2 text-right">Description:</label>

      <p class="col-md-10">
        <%= @project.description %>
      </p>
    </div>
  </div>
</div>
