<% content_for(:settings_body) do %>
    <table class="table borderless">
      <tr>
        <th class="text-right col-md-2">Title:</th>
        <td class="col-md-10"><%= @project.title %></td>
      </tr>
      <tr>
        <th class="text-right">Owner:</th>
        <td><%= @project.owner.name %></td>
      </tr>
      <tr>
        <th class="text-right">Description:</th>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <% if can? :edit, @project %>
              <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
                  <span class='glyphicon glyphicon-pencil'></span>
                  Edit
              <% end %>
          <% end %>

          <% if can? :destroy, @project %>
              <button type='button' class='btn btn-danger' data-toggle='modal' data-target='#myModal'>
                <span class='glyphicon glyphicon-trash'></span> Delete
              </button>
              <%= render 'projects/delete_project_modal', project: @project %>
          <% end %>
        </td>
      </tr>
    </table>
<% end %>

<%= render 'shared/settings', project: @project, active: 'settings', title: 'Project Settings' %>
