<table class="table table-striped table-bordered table-hover">
  <tr>
    <th class="col-md-2">Name</th>
    <th class="col-md-2">Email</th>
    <th class="col-md-2">Initials</th>
    <th class="col-md-2">Role</th>
    <!--<th class="col-md-1">Status</th>-->
    <th class="col-md-3">Actions</th>
  </tr>
  <% contributions.each do |contribution| %>
      <tr>
        <td>
          <%= contribution.user.name %>
          <br>
          <%= content_tag(:label, "It's You", class: 'label label-info') if current_user.eql?(contribution.user) %>
        </td>
        <td><%= contribution.user.email %></td>
        <td class="initials"><%= contribution.initials %></td>
        <td style="display: none">
          <% if current_user.eql?(contribution.user) %>
              <%= form_for [:update_initials, contribution.project, contribution] do |f| %>
                  <%= f.text_field :initials, class: 'form-control', style: 'margin-bottom: 5px;' %>
                  <%= f.submit 'Update', class: 'btn btn-success' %>
              <% end %>
          <% end %>
        </td>
        <td class="role"><%= contribution.role %></td>
        <td style="display: none">
          <% if can?(:update_role, contribution) %>
              <%= form_for [:update_role, contribution.project, contribution] do |f| %>
                  <%= f.select :role, options_for_select(Contribution::ROLES.values - ['Owner'], selected: contribution.role),
                               {}, class: 'form-control', style: 'margin-bottom: 5px;' %>
                  <%= f.submit 'Update', class: 'btn btn-success' %>
              <% end %>
          <% end %>
        </td>
        <!--<td><%= contribution.status if can?(:resend_invitation, contribution) %></td>-->
        <td>
          <%= link_to_if_can(:update_initials, contribution, 'Edit Initials', '#', class: 'btn btn-default initials') %>

          <% if !contribution.user.invitation_accepted? && can?(:resend_invitation, contribution) %>
              <%= button_to 'Resend Invitation', resend_invitation_project_contribution_path(contribution.project, contribution),
                            method: :post, class: 'btn btn-default', form: {style: 'display: inline-block;'} %>
          <% end %>

          <%= link_to_if_can(:update_role, contribution, 'Edit Role', '#', class: 'btn btn-default role') %>

          <%= button_to_if_can(:destroy, contribution, 'Remove', project_contribution_path(contribution.project, contribution),
                               method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default',
                               form: {style: 'display: inline-block;'}) %>
        </td>
      </tr>
  <% end %>
</table>
