<h2>Invite Users</h2>
<%= form_tag({controller: "contributions", action: "create"}, method: "post" ) do %>
  <%= label_tag(:email, "Email :") %>
  <%= text_field_tag(:email) %>

  <br>
  <%= label_tag(:role, "Role :") %>
  <%= select_tag :role, options_for_select(Contribution.roles.keys)%>
  <br>
  <%= submit_tag("Invite") %>
<% end %>

<h2>Already Invited Users</h2>
<% @contributions.each do |i| %>
  <p><%= i.user.email %> <%= "(#{i.role}) " if i.role %></p>
<% end %>