<div class="panel panel-default story-detail-panel">
  <div class="panel-heading">
    <i class="fa fa-files-o" aria-hidden="true"></i> <b><%= story.ticket_id.upcase %></b>
        <span class="pull-right todo-detail-icon">
          <a class="href mg-r10"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a class="href"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </span>
  </div>
  <div class="panel-body">
    <ul class="form-group">
      <li class="col-md-12 pd-t20 pd-b10">
        <strong>Story Title: </strong>

        <div><%= story.title %></div>
      </li>
      <li class="col-md-12">
        <strong>Description: </strong>

        <div><%= story.description.try(:html_safe) %></div>
      </li>
    </ul>
    <table class="table table-borderless">
      <tbody>
      <tr class="col-md-4">
        <td><strong>Owner:</strong></td>
        <td class=""><%= story_assigned_to @story %></td>
      </tr>
      <tr class="col-md-4">
        <td><strong>Status:</strong></td>
        <td class=""><%= content_tag(:span, story.state, class: "label label-info progress-status progress-#{story.state}") %></td>
      </tr>
      <% if story.due_at.present? %>
          <tr class="col-md-4">
            <td><strong>Due By:</strong></td>
            <td><%= story.due_at %></td>
          </tr>
      <% end %>
      <% if story.priority.present? %>
          <tr class="col-md-4">
            <td><strong>Priority:</strong></td>
            <td><%= story.priority %></td>
          </tr>
      <% end %>
      <% if story.requester.present? %>
          <tr class="col-md-4">
            <td><strong>Requester:</strong></td>
            <td> <%= story.requester.name %> </td>
          </tr>
      <% end %>
      <tr class="col-md-4">
        <td><strong>Story Type:</strong></td>
        <td><%= story.story_type.upcase %></td>
      </tr>
      <% if story.tag_list.present? %>
          <tr class="col-md-12">
            <td><strong>Tags:</strong></td>
            <% story.get_tags.each do |tag| %>
                <td>#<%= tag.upcase %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-default">Assign to Me</button>
        <button class="btn btn-default">Start Progress</button>
      </div>
    </div>
  </div>
  <div style="padding: 15px">
    <div class="panel panel-default">
      <div class="panel-heading">Comments</div>
      <div class="panel-body">
        <%= render 'story_comments', :comments => story.comments %>
      </div>
    </div>
  </div>
</div>
