<ul class="comments-list">
  <% comments.each do |comment| %>
      <li class="comment clearfix">
        <a class="pull-left" href="#">
          <span class="user-img-15 pull-left mg-r20" style="background-color: #E8BB46">JB</span>
        </a>
        <span class="pull-right todo-detail-comment-icon">
            <a class="href mg-r10"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a class="href"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </span>

        <div class="comment-body">
          <div class="comment-heading">
            <h4 class="user"><%= comment.user.name %></h4>
            <h5 class="time"><%= distance_of_time_in_words(Time.current, comment.created_at) %> ago</h5>
          </div>
          <p><%= simple_format comment.content %></p>
          <% if comment.attachments.present? %>
              <h4>Attachments</h4>
              <% comment.attachments.each do |attachment| %>
                  <div class="comment-attachment">
                    <%= image_tag attachment.document.exists?(:thumb) ? attachment.document.url(:thumb) : 'missing_file_type.png',
                                  title: attachment.document_file_name %>
                    <div class="mask">
                        <span class="mask-icon">
                            <%= content_tag(:i, '', class: 'fa fa-search', data: {toggle: "modal", target: "#attachmentPreviewModel",
                                                                                  type: attachment.document_content_type,
                                                                                  url: attachment.document.url,
                                                                                  title: attachment.document_file_name}) %>
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </li>
      <hr>
  <% end %>
</ul>
<div class="clearfix"></div>
<div class="newTaskForm">
  <form class="add-todo-container mg-t20">
    <textarea class="form-control mg-b10 commentTextbox" placeholder="ADD Comment"></textarea>

    <div class="hide-comment hidden">
      <div class="form-group">
        <div id="file" class="hidden">Browse File</div>
        <input type="file" name="file"/>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" id="close-todo">Close</button>
        <button type="button" class="btn btn-success">Add Comment</button>
      </div>
    </div>
  </form>
</div>
