<li id="story_<%= story.id %>" class="ui-state-default custom-ui-state">
  <span class="ui-icon ui-icon-grip-dotted-vertical custom-ui-drag"></span>

  <p class="todo-content">
    <span class="pull-left">
      <%= content_tag(:span, story.state_initials, class: "mg-r5 label label-info progress-status progress-#{story.state}") %>
      <%= content_tag(:i, '', class: "fa fa-story-feature #{story.story_type == 'bug' ? 'fa-bug' : 'fa-star-o'}", title: "story Type: #{story.story_type}") %>
    </span>

    <span class="todo-title">
      <span class="collapse-span" data-target="#<%= story.id %>">
        <%= content_tag(:strong, story.ticket_id.upcase, class: 'mg-r5') %>
        <%= story.title %>
      </span>
      <%= content_tag :span, class: 'tag-holder' do %>
        <% story.get_tags.each do |tag| %>
            <%= link_to("##{tag.upcase}", project_stories_path(@project, tags: tag), class: 'tag', title: "Tag: #{tag}") %>
        <% end %>
          <%= content_tag(:span, story.priority, class: 'tag', title: "Priority: #{story.priority}") if story.priority.present? %>
          <%= content_tag(:span, story.due_at, class: 'tag', title: "Due on: #{story.due_at}") if story.due_at.present? %>
          <%= link_to("@#{story_assigned_to story}", project_stories_path(@project, owner: story.owner), class: 'tag', title: "Owner: #{story_assigned_to story}") if story.owner_id.present? %>
          <%= content_tag(:i, '', class: 'fa fa-list-alt', title: 'This story has description') if story.description.present? %>
          <%= content_tag(:i, '', class: 'fa fa-paperclip', title: 'This story has attachments') if story.attachments.present? %>
          <%= content_tag(:i, story.comments.count, class: 'fa fa-commenting-o', title: "This story has #{pluralize(story.comments.count, 'comment')}") if story.comments.present? %>
      <% end %>
    </span>
  </p>

  <div class="collapse hidden-md hidden-lg mg-t20" id="<%= story.id %>">
    <div class="col-md-6 nopadding">
      <%= render 'sm_story_detail', :story => story %>
    </div>
  </div>
</li>
