<%= form_for([@project, @integration], html: {role: "form", class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :url, 'URL', class: "col-md-2" %>
      <div class="col-md-10">
        <%= f.url_field :url, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, 'Name', class: "col-md-2" %>
      <div class="col-md-10">
        <%= f.select :name, ["github", "bitbucket", "slack", "hipchat", "flowdock", "jira"], {}, class: "form-control" %>
      </div>
    </div>
    <%= f.submit class: "btn btn-success pull-right" %>
<% end %>
