<div class="col-md-12 show-page-head">
  <%= link_to project_tasks_path(@project) do %>
    <span><i class="fa fa-arrow-circle-o-left"></i></span>
    Todo's
  <% end %>
</div>

<%= link_to 'Add New', new_project_integration_path(@project) %>

<h2>Project Integrations: </h2>

<table style="width:100%">
  <tr>
    <th>URL</th>
    <th></th>
  </tr>
  <% @integrations.each do |integration| %>
    <tr>
      <td><%= integration.url %></td>
      <td><%= link_to 'Edit', edit_project_integration_path(@project, integration) %></td>
      <td><%= link_to 'Delete', project_integration_path(@project, integration), method: :delete, data: {confirm: 'Are you sure?'}  %></td>
    </tr>
  <% end %>
</table>