<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%# TODO: Add relevant subtitle %>
  <title>Camp One</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-landing navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand">
        <i class="fa fa-play-circle"></i> <span class="light">CAMPONE</span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"><a></a></li>
        <li><a>Feature</a></li>
        <li><a>Link</a></li>
        <li><a>Link</a></li>
        <li><a>Link</a></li>
        <li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">CAMPONE</h1>

          <p class="intro-text mg-b30">allows you to camp all your management tasks under one camp along with third party apps
            integration.</p>
          <button class="btn register-btn">REGISTER</button>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <%= image_tag(('feature-todo.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>TO-DO's</h2>

          <p>TO-DO are the basic unit of action in Campone.
            You can create new tasks, edit an existing task or delete a task. </p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <%= image_tag(('feature-discussion.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5">
        <article>
          <h2>Discussions</h2>

          <p>Use discussions to make an announcement, brainstorm, celebrate accomplishments, or talk about any other
            topic.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <%= image_tag(('feature-files.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>Attachments</h2>

          <p>An attachment object represents any file attached to a task in Campone,
            whether it’s an uploaded file or one associated with a Task.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
<div id="map"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 footerleft ">
        <div class="logofooter">Campone</div>
        <p>allows you to camp all your management tasks under one camp along with third party apps integration.</p>

        <p><i class="fa fa-map-pin"></i> 84 G, DHA Masjid Chowk Phase 1 Lahore</p>

        <p><i class="fa fa-phone"></i> Phone (Pakistan) : 042-31234567</p>

        <p><i class="fa fa-envelope"></i> E-mail : info@camone.com</p>

        <div class="social">
          <a class="fa fa-facebook" title="" target="_blank" href="#"></a>
          <a class="fa fa-twitter" title="" target="_blank" href="#"></a>
          <a class="fa fa-google" title="" target="_blank" href="#"></a>
          <a class="fa fa-linkedin" title="" target="_blank" href="#"></a>
          <a class="fa fa-dribbble" title="" target="_blank" href="#"></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <h6 class="footer-heading">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Privacy Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Terms & Conditions</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Client Gateway</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ranking</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Case Studies</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> FAQ </a></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-6">
        <h6 class="footer-heading">LATEST POST</h6>

        <div class="post">
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<div class="page-header text-center">-->
<!--<%= image_tag('logo.png') %>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div id="content" class='<%= "col-md-6 col-md-offset-3" if devise_controller? -%>'>-->
<!--<%= render 'shared/flash' %>-->
<!--<%= yield %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</body>
</html>
